.date_filter_wrapper,
.artist_filter_wrapper {
  font-size: 2.4rem;

  background-color: rgba(60, 8, 80, 0.95);

  position: absolute;
  bottom: 0;
}

.date_filter_wrapper {
  left: 0;
  transform: translate(230%, 100%);
}

.artist_filter_wrapper {
  left: 50%;
  transform: translate(54%, 100%);
}

.date_filter_list,
.artist_filter_list {
  list-style: none;

  transition: all 0.3s;
}

.date_filter_list:hover,
.artist_filter_list:hover {
  cursor: pointer;
}