/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/* 
  Desktop Standard (1920px -> 1920px/16 = 120em)  
*/
@media (max-width: 120em) {
  .left_hero_section {
    width: 62.5%;
  }

  .right_hero_section {
    width: 37.5%;
  }
}

/*
  Desktop Intermedio (1792px -> 1792px/16 = 112em) 
*/
@media (max-width: 112em) {

  .left_hero_section {
    width: 60%;


    clip-path: polygon(0 0, 100% 0, 20% 100%, 0% 100%);
  }

  .right_hero_section {
    width: 40%;
  }

  .primary_heading {
    font-size: 6.2rem;
  }

  .hero_slogan {
    font-size: 3rem;
  }

  .explore_btn:link,
  .explore_btn:visited {
    font-size: 1.4rem;
  }


  .navbar_list {
    font-size: 1.8rem;
  }

  /* gallery */
  .secondary_heading {
    font-size: 3.6rem;
  }

  .gallery_heading p {
    font-size: 1.8rem;
  }

  .gallery_imgs {
    grid-template-columns: repeat(4, 1fr);
  }

  .img_wrapper {
    width: 24rem;
    height: 14rem;
  }

  .gallery_filter {
    font-size: 1.8rem;
  }


  /* work with me section*/
  .form_inputs input:not([type="radio"]),
  .form_inputs select {
    font-size: 1.8rem;
  }

  /* social section */
  .social_container {
    height: 30rem;
  }

  .follow_me {
    font-size: 5.2rem;
  }

  .social_content {
    font-size: 6.2rem;
  }

  .insta_logo {
    width: 30rem;
    height: 30rem
  }

  /* footer */
  .footer {
    font-size: 2rem;
  }

  .footer_slogan {
    font-size: 1.8rem;
  }
}

/* 
  Desktop Piccolo (1600px -> 1632px/16 = 102em)
*/
@media (max-width: 102em) {
  .left_hero_section {
    width: 57.5%;


    clip-path: polygon(0 0, 100% 0, 35% 100%, 0% 100%);
  }

  .right_hero_section {
    width: 42.5%;
  }

  /* about me section */
  .about_me_content {
    height: 55rem;
  }

  .about_me_image {
    width: 40rem;
  }

  .about_me_img_wrapper::after {
    width: 45rem;
  }

  .about_me_description {
    font-size: 1.6rem;
  }

  .about_me_info ul li {
    font-size: 1.4rem;
  }

  .about_me_info ul li:not(:last-child) {
    padding-right: 1rem;
  }

  .about_me_info ul li:not(:first-child) {
    padding-left: 1rem;
  }

  /* footer */
  .footer__1,
  .footer__2,
  .footer__3 {
    padding: 1.2rem 8rem;
  }

  .footer__2::before,
  .footer__3::before {
    /* escludi il padding sinistro */
    left: 8rem;
    /* escludi il padding destro */
    right: 8rem;
  }
}

/* 
  Desktop Piccolo (1520px -> 1520px/16 = 95em)
*/
@media (max-width: 95em) {
  .left_hero_section {
    width: 55%;

    clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
  }

  .right_hero_section {
    width: 45%;
  }

  .primary_heading {
    font-size: 5.2rem;
  }

  .hero_slogan {
    font-size: 2.4rem;
  }

  .explore_btn:link,
  .explore_btn:visited {
    font-size: 1.2rem;
  }

  .navbar_list {
    font-size: 1.8rem;
  }

  /* collab section */
  .art_work_description {
    font-size: 1.8rem;
  }

  .collaborators_info p {
    font-size: 2.4rem;
  }

  .collaborators_social img {
    height: 2.4rem;
    width: 2.4rem;
  }

  /* social section */
  .social_container {
    height: 25rem;
  }

  .follow_me {
    font-size: 4.4rem;
  }

  .social_content {
    font-size: 5.2rem;
  }

  .insta_logo {
    width: 25rem;
    height: 25rem
  }

  /* footer */
  .footer__1,
  .footer__2,
  .footer__3 {
    padding: 1.2rem 7.2rem;
  }

  .footer__2::before,
  .footer__3::before {
    /* escludi il padding sinistro */
    left: 7.2rem;
    /* escludi il padding destro */
    right: 7.2rem;
  }
}

/* 
  Desktop Piccolo (1440px -> 1440px/16 = 90em)
*/
@media (max-width: 90em) {
  .hero_header {
    padding-left: 11rem;
  }

  .left_hero_section {
    width: 50%;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .right_hero_section {
    width: 50%;
  }

  /* gallery */
  .secondary_heading {
    font-size: 2.4rem;
  }

  .gallery_heading {
    align-self: center;
    align-items: center;
  }

  .gallery_heading p {
    font-size: 1.6rem;
  }

  .gallery_imgs {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery_filter {
    font-size: 1.6rem;
  }

  /* music inspiration */
  .wrapper_img_inspiration {
    height: 34rem;
    width: 28rem;
  }

  .description_inspiration p {
    font-size: 1.8rem;
    letter-spacing: .1rem;
  }

  /* work with me section */
  .form h3 {
    font-size: 2.4rem;
    font-weight: 500;
  }

  .form_inputs input:not([type="radio"]),
  .form_inputs select {
    font-size: 2rem;
  }

  .input_type_collab p,
  .input_type_commssion p,
  .input_size p {
    font-size: 1.8rem;
  }

  .input_type_collab label,
  .input_type_commssion label,
  .input_size label {
    font-size: 1.6rem;
  }

  .date_range p {
    font-size: 2rem;
  }

  .budjet p {
    font-size: 2rem;
  }

  /* work with me section*/
  .form_inputs input:not([type="radio"]),
  .form_inputs select {
    font-size: 1.6rem;
  }

  /* footer */
  .footer {
    font-size: 1.8rem;
  }

  .footer__1,
  .footer__2,
  .footer__3 {
    padding: 1.2rem 3.2rem;
  }

  .footer__2::before,
  .footer__3::before {
    /* escludi il padding sinistro */
    left: 3.2rem;
    /* escludi il padding destro */
    right: 3.2rem;
  }

  .footer_slogan {
    font-size: 1.6rem;
  }
}

/* 
  Netbook / Laptop Piccolo (1376px -> 1376px/16 = 86em)
*/
@media (max-width: 86em) {
  .filter_item {
    display: none;
  }

  .filter_icon_item {
    display: block;
  }

  .gallery_filter {
    justify-content: end;
  }

  /* music inspiration */
  .wrapper_img_inspiration {
    height: 32rem;
    width: 26rem;
  }

  .description_inspiration p {
    font-size: 1.8rem;
    letter-spacing: .1rem;
  }

  .description_inspiration {
    padding: 8rem;
  }

  /* collab section */
  .art_work_description {
    font-size: 1.4rem;
    padding: 0 1.2rem;
  }

  .collaborators_info p {
    font-size: 2rem;
  }

  .collaborators_social img {
    height: 1.8rem;
    width: 1.8rem;
  }

  .collaborators_img {
    height: 12rem;
    width: 12rem;
  }

  .slide_left_btn {
    left: 2%;
  }

  .slide_right_btn {
    right: 2%;
  }


  /* about me section */
  .about_me_image {
    width: 30rem;
  }

  .about_me_img_wrapper::after {
    width: 35rem;
  }

  /* work with me section */
  .work_with_me_content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 3.6rem;

    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

  }

  .work_me_content_left {
    grid-column: 1;
    grid-row: 2;

    position: static;
    width: 100%;
    height: 25rem;

    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);

    transition: none;
  }

  .mode_commission-work_me_content_left {
    transform: translateX(0);
  }

  .collab_sponsor_content_right,
  .commission_content_right {
    grid-column: 1;
    grid-row: 1;
  }

  .input_type_collab p,
  .input_type_commssion p,
  .input_size p {
    font-size: 1.6rem;
  }

  .btn_submit {
    font-size: 1.4rem;
  }

  /* social section */
  .social_container {
    height: 20rem;
  }

  .follow_me {
    font-size: 3.6rem;
  }

  .social_content {
    height: 10rem;
    font-size: 4.4rem;
  }

  .insta_logo {
    width: 15rem;
    height: 15rem
  }

  /* footer */
  .footer {
    font-size: 1.6rem;
  }

  .footer__1,
  .footer__2,
  .footer__3 {
    padding: 1.2rem 2.4rem;
  }

  .footer__2::before,
  .footer__3::before {
    /* escludi il padding sinistro */
    left: 2.4rem;
    /* escludi il padding destro */
    right: 2.4rem;
  }

  .list_footer {
    gap: 1.8rem;
  }

  .footer_slogan {
    font-size: 1.4rem;
  }
}

/* 
  Netbook / Laptop Piccolo (1184px -> 1184px/16 = 74em)
*/
@media(max-width: 74em) {

  /* music inspiration */
  .about_me_content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .about_me_right {
    grid-row: 1;
    padding: 0 6.4rem;
    gap: 5rem;
  }

  /* footer */
  .footer {
    font-size: 1.6rem;
  }

  .footer__1,
  .footer__2,
  .footer__3 {
    padding: 1.2rem 1.8rem;
  }

  .footer__2::before,
  .footer__3::before {
    /* escludi il padding sinistro */
    left: 1.8rem;
    /* escludi il padding destro */
    right: 1.8rem;
  }

  .list_footer {
    gap: 1.4rem;
  }

  /* collab section */
  .collab_content {
    flex-direction: column-reverse;
  }

  .art_work_img,
  .art_work_details {
    width: 100%;
  }

  .art_work_details {
    height: 65%;
  }

  .collaborators_info {
    align-items: end;
    padding-right: 1rem;
  }

  .art_work_img {
    height: 35%;
    width: 100%;
  }

  .img_background_collaborators_info {
    display: none;
  }

  .slide_icon {
    font-size: 2.4rem;
  }
}


/* 
  Netbook / Laptop Piccolo (1088px -> 1088px/16 = 68em)
*/
@media (max-width: 68em) {
  .hero_header {
    padding-left: 8rem;
  }

  .navbar{
    display: none;
  }
  
  .hamburgher_wrapper {
    display: block;
  }

  .material-symbols-outlined {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
  }

  /* music inspiration */
  .wrapper_img_inspiration {
    height: 30rem;
    width: 24rem;
  }

  .description_inspiration {
    padding: 7.4rem;
  }

  /* collab section */
  .collab_section {
    padding: 0 12.8rem;
  }

  /* social section */
  .social_container {
    height: 15rem;
  }

  .follow_me {
    font-size: 3rem;
  }

  .social_content {
    height: 7rem;
    font-size: 3.6rem;
  }

  .insta_logo {
    width: 12rem;
    height: 12rem
  }

  /* footer */
  .footer {
    font-size: 1.4rem;
  }

  .list_footer {
    gap: 1.4rem;
  }

  .footer_slogan {
    font-size: 1.2rem;
  }
}

/* 
  Netbook / Laptop Piccolo (920px -> 920px/16 = 58em)
*/
@media (max-width: 58em) {
  .hero_header {
    justify-content: center;
    padding-left: 4rem;
  }

  .primary_heading {
    font-size: 4.8rem;
  }

  .hero_slogan {
    font-size: 2.4rem;
  }

  /* gallery */
  .gallery_imgs {
    grid-template-columns: repeat(2, 1fr);
  }

  .filter_content {
    font-size: 2.4rem;
  }

  .filter_content h3 {
    font-size: 3.6rem;
  }

  /* music inspiration */
  .description_inspiration {
    padding: 3.6rem;
  }

  /* collab section */
  .collab_section {
    padding: 0 9.6rem;
  }

  .collaborators_img {
    height: 10rem;
    width: 10rem;
  }

  /* about me section */
  .about_me_section {
    padding: 0 6.4rem;
  }

  .about_me_image {
    width: 20rem;
  }

  .about_me_img_wrapper::after {
    width: 25rem;
  }

  /* skills section */
  .skills_section {
    padding: 2.4rem 6.4rem;
  }

  .skills_bar,
  .bar {
    height: 2rem;
    border-radius: 2rem;
  }

  .skills_title {
    font-size: 1.8rem;
  }

  /* work me section */
  .work_with_me_section {
    padding: 0 12.8rem;
  }

  .form_inputs input:not([type="radio"]),
  .form_inputs select {
    font-size: 1.4rem;
  }

  /* social section */
  .social_section {
    padding: 0 12.8rem;
  }

  .follow_me {
    font-size: 2.4rem;
  }

  .social_content {
    height: 5rem;
    font-size: 2.4rem;
  }

  .insta_logo {
    width: 10rem;
    height: 10rem;
    border-width: .5rem;
  }
}

/* 
  Netbook / Laptop Piccolo (800px -> 800px/16 = 50em)
*/
@media (max-width: 50em) {
  .primary_heading {
    font-size: 3rem;
  }

  .wrapper_scroll_to_top_btn {
    padding: .4rem;
    margin: .2rem;
  }

  .arrow_up_icon {
    font-size: 2.4rem;
  }

  .hero_slogan {
    font-size: 1.8rem;
  }

  .explore_btn:link,
  .explore_btn:visited {
    font-size: 1.2rem;
  }

  .img_hero_section {
    transform: translate(-50%, -50%);
  }

  /* gallery */
  .gallery_content {
    width: 95%;
  }

  .gallery_imgs {
    grid-template-columns: 1fr;
  }

  .filter_content {
    font-size: 2rem;
  }

  .filter_content h3 {
    font-size: 3rem;
  }

  /* music inspiration */
  .description_inspiration {
    padding: 2.4rem;
  }

  /* collab section */
  .collab_section {
    padding: 0 8rem;
  }

  .collaborators_img {
    height: 7rem;
    width: 7rem;
  }


  /* about me section */
  .about_me_image {
    width: 15rem;
  }

  .about_me_img_wrapper::after {
    width: 20rem;
  }

  .about_me_right {
    padding: 0;
  }

  /* skills section */
  .skills_bar,
  .bar {
    height: 1rem;
    border-radius: 1rem;
  }

  /* work me section */
  .work_with_me_section {
    padding: 0 4.8rem;
  }

  .collab_sponsor_content_left p,
  .commission_content_left p {
    font-size: 1.8rem;
  }

  .collaborators_img {
    height: 6.5rem;
    width: 6.5rem;
  }

  /* social section */
  .social_section {
    padding: 0 9.6rem;
  }

  .follow_me {
    font-size: 2rem;
  }

  .social_content {
    font-size: 2rem;
  }

  /* footer */
  .links_ft_to-sc>li:not(:first-of-type) {
    display: none;
  }

  .tag_insta,
  .tag_email {
    display: none;
  }
}

/* 
  Netbook / Laptop Piccolo (640px -> 640px/16 = 40em)
*/
@media (max-width: 40em) {
  .hero_header {
    padding-left: 2rem;
  }

  .img_hero_section {
    transform: translate(-30%, -70%);
  }


  /* gallery */
  .img_wrapper {
    width: 18rem;
    height: 8rem;
  }

  /* music inspiration */
  .description_inspiration {
    padding: .05;
  }

  .description_inspiration p {
    font-size: 1.4rem;
    letter-spacing: .05rem;
  }

  /* collab section */
  .collab_section {
    padding: 0 2.4rem;
  }

  .collaborators_img {
    height: 6rem;
    width: 6rem;
  }

  .collaborators_info {
    gap: 0;
  }

  .slide_icon {
    font-size: 2rem;
  }

  /* work me section */
  .work_with_me_section {
    padding: 0 2.4rem;
  }

  /* social section */
  .social_section {
    padding: 0 2.4rem;
  }

  .follow_me {
    font-size: 1.8rem;
  }

  .social_content {
    font-size: 1.8rem;
  }
}